---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About - Beau Crisp">
  <section class="min-h-[50vh] pt-48 bg-bjj-hero bg-cover bg-bottom">
    <div class="mx-auto">
      <h1
        class="text-6xl font-customFont mb-8 md:pt-16 text-center text-slate-100"
      >
        About Beau Crisp
      </h1>
    </div>
  </section>
  <div class="max-w-3xl mx-auto">
    <div class="prose lg:prose-xl p-4">
      Beau Crisp: An avid jiu jitsu practitioner, outdoorsman, writer, tattoo
      fan, and coffee connoisseur. In the world of sport. Outside of being a
      collegiate football propspect: the addition of martial arts, ultra
      endurance, and strength sports such as the Highland Games was not just a
      physical output for experience and competition. However, these sports &
      experiences provided Beau with technical efficiency and coaching mastery
      learning from Olympic throwers, professional endurance athletes, and
      coaches from around the world. Beau received his formal education at The
      University of Tennessee-Knoxville, receiving a Bachelor's degree in
      Kinesiology, ranking the 7th best program in the country at the time.
      During his time in Knoxville, Beau mentored under some of the best head
      strength and conditioning minds in the country such as head strength
      coaches from The University of Tennessee, North Carolina, Georgia State,
      and Florida State. In addition, he studied aggressively with the Sport
      Psychology department at The University of Tennessee. Now, Beau holds the
      following education and certifications: BS in Kinesiology, CSCS, FRCms,
      CFSC, TPI L2’s, On Base U, Crossfit, & Grounded Athlete Under Spooner
      Sports Medicine.
      <br />
      <br />Today, Beau is merging power with perspective, training
      comprehensive strength and conditioning, in search of the comprehensive
      mind. In his professional career he has specialized in endurance,
      grappling, rotational body mechanics, and sport performance having
      successfully worked with MLB, NFL, NCAA, UFC, PGA, Crossfit, Olympic
      tennis athletes. Outside of working with professional and high performance
      individuals, Beau is proficient in sport specific movement rehabilitation,
      by assisting in recreating & loading efficient motor patterns necessary
      for their sport and currently works hands on with ‘Survivor Fitness’ where
      he trains individuals who have just completed cancer treatment programs
      and are building their new strength and wellness foundations as cancer
      survivors. Also, he was the former Strength and Conditioning Coordinator
      for The Eighth Chapter of Merging Vets and Players, a national non-profit
      for retired athletes and veterans.
    </div>
  </div>
</Layout>
