---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About - Beau Crisp">
  <div class="max-w-3xl mx-auto min-h-[96vh] pt-48">
    <h1 class="text-6xl font-customFont md:pt-16 text-center mb-8">
      About Beau Crisp
    </h1>

    <div class="prose lg:prose-xl"></div>
  </div>
</Layout>
