---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Free Nutrition Guide - Beau Crisp">
  <section class="min-h-[50vh] pt-48 hero-image bg-bottom md:bg-center">
    <div class="mx-auto">
      <h1
        class="text-5xl md:text-8xl font-customFont mb-8 md:mt-16 text-center text-rose-600 bg-stone-900 bg-opacity-80 block w-fit mx-auto p-4 rounded-lg animate-fade-in"
      >
        DOWNLOAD THIS FREE NUTRITION GUIDE
      </h1>
      <div class="mt-4 text-center">
        <a
          href="/nutrition.pdf"
          download
          class="inline-block bg-rose-800 hover:bg-rose-700 text-white px-6 py-3 rounded-lg transition-colors"
        >
          Download PDF
        </a>
      </div>
    </div>
  </section>
  <div class="max-w-3xl mx-auto p-4">
    <div class="bg-white shadow-lg rounded-lg overflow-hidden">
      <iframe
        src="/nutrition.pdf"
        height="800"
        class="w-full"
        title="Free Nutrition Guide"></iframe>
    </div>
  </div>
</Layout>

<style>
  .hero-image {
    background-image: url("../assets/cactus.png");
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fade-in {
    animation: fadeInUp 1s ease-out forwards;
  }
</style>
